# Auto detect text files and perform LF normalization
* text=auto
*.png binary
*.txt text
*.js text eol=lf
*.md diff=markdown
*.json merge=json
docs/** export-ignore
*.zip filter=lfs diff=lfs merge=lfs -text